In [98]:
from selenium import webdriver
from selenium.webdriver.edge.options import Options
import pandas as pd
from selenium.webdriver.common.by import By

import time
from datetime import datetime

In [126]:
options=Options()
options.add_experimental_option('detach',True)
driver=webdriver.Edge(options=options)
driver.get('https://finance.yahoo.com/quote/CL%3DF/history/')

In [127]:
for i in range(2):
    time.sleep(5)
    setday=driver.find_element(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/div[1]/div/div/div[1]')
    setday.click()
    time.sleep(3)
    start_date=driver.find_element(By.XPATH,'//*[@id="dropdown-menu"]/div/div[1]/input')
    start_date.send_keys('01042010')
    end_date=driver.find_element(By.XPATH,'//*[@id="dropdown-menu"]/div/div[2]/input')
    end_date.send_keys('11032023')
    button=driver.find_element(By.XPATH,'//*[@id="dropdown-menu"]/div/div[3]/button[1]')
    button.click()
    time.sleep(3)
    apply=driver.find_element(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[1]/div[1]/button')
    apply.click()

In [102]:
time.sleep(3)
while True:
    checker=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[1]')
    if len(checker)>=3484:
        break
    bottom=driver.find_element(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tfoot/tr')
    driver.execute_script("arguments[0].scrollIntoView(true);", bottom)
    time.sleep(2)

In [103]:
date=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[1]')
open=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[2]')
high=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[3]')
low=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[4]')
close=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[5]')
volume=driver.find_elements(By.XPATH,'//*[@id="Col1-1-HistoricalDataTable-Proxy"]/section/div[2]/table/tbody/tr/td[7]')

data_len=len(date)
save={
    'time':[],
    'open':[],
    'high':[],
    'low':[],
    'close':[],
    'vol':[],
}
for day in range(data_len):
    numerical_form = datetime.strptime(date[day].text, '%b %d, %Y').strftime('%Y-%m-%d')
    save['time'].append(numerical_form)
    save['open'].append(open[day].text)
    save['high'].append(high[day].text)
    save['low'].append(low[day].text)
    save['close'].append(close[day].text)
    save['vol'].append(volume[day].text)
df=pd.DataFrame(save)

In [ ]:
df.to_csv('crude_oil.csv', index=False)

In [104]:
df

            time   open   high    low  close      vol
0     2023-11-01  80.82  82.83  80.22  82.46  307,122
1     2023-10-31  81.48  83.42  80.30  80.44  321,592
2     2023-10-30  82.59  83.37  80.74  81.02  346,007
3     2023-10-29  85.00  85.30  81.82  82.31  356,928
4     2023-10-26  83.53  85.90  83.10  85.54  333,760
...          ...    ...    ...    ...    ...      ...
3479  2010-01-08  82.65  83.47  81.80  82.75  310,377
3480  2010-01-07  83.20  83.36  82.26  82.66  246,632
3481  2010-01-06  81.43  83.52  80.85  83.18  370,059
3482  2010-01-05  81.63  82.00  80.95  81.77  258,887
3483  2010-01-04  79.63  81.68  79.63  81.51  263,542

[3484 rows x 6 columns]