In [11]:
!pip install cloudscraper

Requirement already satisfied: cloudscraper in /usr/local/lib/python3.11/site-packages (1.2.71)
Requirement already satisfied: pyparsing>=2.4.7 in /usr/local/lib/python3.11/site-packages (from cloudscraper) (3.1.1)
Requirement already satisfied: requests>=2.9.2 in /usr/local/lib/python3.11/site-packages (from cloudscraper) (2.31.0)
Requirement already satisfied: requests-toolbelt>=0.9.1 in /usr/local/lib/python3.11/site-packages (from cloudscraper) (1.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/site-packages (from requests>=2.9.2->cloudscraper) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/site-packages (from requests>=2.9.2->cloudscraper) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/site-packages (from requests>=2.9.2->cloudscraper) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/site-packages (from requests>=2.9.2->cloudscraper) (2023.7.22)

In [12]:
import pandas as pd
from bs4 import BeautifulSoup
import re

with open("/Users/ibulmnie/Documents/GitHub/GoldPricePrediction/crawl/MSCI_EM_EFT/EFT.txt", "r", encoding='utf-8') as f:
    html= f.read()

# Phân tích HTML
soup = BeautifulSoup(html, 'html.parser')

# Khởi tạo các danh sách rỗng để lưu trữ dữ liệu
dates = []
prices = []
opens = []
highs = []
lows = []
volumes = []
changes = []

# Lặp qua các dòng <tr> và trích xuất dữ liệu
for row in soup.find_all('tr'):
    date_element = row.find('time')
    date = date_element.text if date_element is not None else "NaN"
    # Định dạng lại ngày theo "dd/mm/yyyy"
    formatted_date = pd.to_datetime(date, format='%m/%d/%Y').strftime('%d/%m/%Y')
    
    price_element = row.find('td', {'class': re.compile('^datatable_cell__LJp3C datatable_cell--align-end__qgxDQ')})
    price = float(price_element.text) if price_element is not None else "NaN"
    
    
    # Thêm dữ liệu vào danh sách
    dates.append(formatted_date)
    prices.append(price)

    
# Tạo DataFrame từ các danh sách
data = {
    "date": dates,
    "MSCI_EM_EFT": prices,
}

df = pd.DataFrame(data)

In [13]:
df

            date  MSCI_EM_EFT
0     03/11/2023        38.46
1     02/11/2023        37.69
2     01/11/2023        37.04
3     31/10/2023        36.70
4     30/10/2023        36.91
...          ...          ...
3510  08/01/2010        42.94
3511  07/01/2010        42.60
3512  06/01/2010        42.85
3513  05/01/2010        42.76
3514  04/01/2010        42.45

[3515 rows x 2 columns]

In [14]:
df.dtypes

date            object
MSCI_EM_EFT    float64
dtype: object

In [15]:
df.to_csv('MSCI_EM_EFT.csv', index = False) 
print("Done!!")

Done!!