In [2]:
from selenium import webdriver
from selenium.webdriver.edge.options import Options
import pandas as pd
from selenium.webdriver.common.by import By
from datetime import datetime
import time

In [3]:
options=Options()
options.add_experimental_option('detach',True)
driver=webdriver.Edge(options=options)
driver.get('https://www.investing.com/economic-calendar/interest-rate-decision-168/')

In [4]:
show_more=driver.find_element(By.XPATH,'//*[@id="showMoreHistory168"]')
checker=datetime(2010,1,4)
for i in range(20):
    patial=driver.find_elements(By.XPATH,' //*[starts-with(@id, "historicEvent_")]/td[1]')
    yesterday=datetime.strptime(patial[-1].text, '%b %d, %Y')
    if yesterday<=checker:
        break
    show_more.click()
    time.sleep(2)

In [5]:
date=driver.find_elements(By.XPATH,' //*[starts-with(@id, "historicEvent_")]/td[1]')
rate=driver.find_elements(By.XPATH,' //*[starts-with(@id, "historicEvent_")]/td[3]')
data_len=len(date)
save={
    'time':[],
    'rate':[],

}
for day in range(data_len):
    numerical_form = datetime.strptime(date[day].text, '%b %d, %Y').strftime('%Y-%m-%d')
    save['time'].append(numerical_form)
    save['rate'].append(rate[day].text)

df=pd.DataFrame(save)

In [8]:
df.to_csv('FED_INTEREST_RATE.csv', index=False)

In [7]:
df

           time   rate
0    2023-12-13
1    2023-11-01  5.50%
2    2023-09-20  5.50%
3    2023-07-26  5.50%
4    2023-06-14  5.25%
..          ...    ...
109  2010-06-23  0.25%
110  2010-04-28  0.25%
111  2010-03-16  0.25%
112  2010-01-27  0.25%
113  2009-12-16  0.25%

[114 rows x 2 columns]